* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #a9ced3;
  .logo {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu-button {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    background-color: #000;
    div {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(50%);
      width: 36px;
      height: 2px;
      background-color: #fff;
    }
    &::before {
      content: "";
      position: absolute;
      top: 32%;
      left: 17px;
      transform: translateY(50%);
      width: 26px;
      height: 2px;
      background-color: #fff;
    }
    &::after {
      content: "";
      position: absolute;
      top: 68%;
      left: 17px;
      transform: translateY(50%);
      width: 26px;
      height: 2px;
      background-color: #fff;
    }
  }
}

.page {
  min-height: 100vh;
  margin-top: 60px;
}

.page-home {
  display: flex;
  flex-wrap: wrap;
  &__image {
    flex-basis: 100%;
    background-color: #f6e3de;
  }
  &__text {
    flex-basis: 100%;
    padding: 25px 15px;
    text-align: center;
    h4 {
      margin-bottom: 5px;
      font-size: 14px;
      text-transform: uppercase;
    }
    h2 {
      margin-bottom: 5px;
      font-size: 2.4rem;
      text-transform: uppercase;
    }
    h1 {
      font-size: 30px;
      text-transform: uppercase;
    }
  }
  &__btn {
    flex-basis: 100%;
    text-align: center;
    .contact-btn {
      padding: 12px 22px;
      font-size: 1.4rem;
      margin-bottom: 20px;
      border: none;
      letter-spacing: 2px;
      text-transform: uppercase;
      background-color: #a9ced3;
      font-family: "Montserrat";
    }
  }
  &__social {
    flex-basis: 100%;
    margin: 0 30px 20px;
    font-size: 3rem;
    text-align: right;
    i {
      margin-left: 10px;
    }
  }
}
