:root {
  --main-color: #fcc6cf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: "Dancing Script", cursive;
  font-size: 1rem;
  background-color: #eff4fd;
  color: #000;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 3%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 100px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.navbar-links ul li a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.social {
  display: inline-block;
}

.fa-brands {
  font-size: 2rem;
  padding: 0 12px;
  color: #000;
}

.fa-brands:hover {
  color: var(--main-color);
}

.detel {
  margin-left: 8%;
  margin-top: 12%;
  font-size: 30px;
}

.detel h1 span {
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}

/* Button 1 */

.button {
  font-size: 1.25rem;
  font-weight: 400;
  margin: auto;
  padding: 20px 20px;
}

.btn1 {
  background: none;
  color: #000;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-size: 1.25rem;
  font-weight: 800;
  margin: 32px;
  padding: 20px 20px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.btn1::before {
  background-image: url(images/background-button.png);
  content: "";
  height: 100%;
  position: absolute;
  right: 5px;
  top: 5px;
  transition: transform 0.15s ease;
  width: 100%;
  z-index: -1;
}

::before,
::after {
  box-sizing: border-box;
}

.btn1::after {
  border: 2px solid #000;
  content: "";
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: transform 0.15s ease;
  width: 100%;
  z-index: -1;
}

.btn1:hover::after {
  transform: translate(-5px, 5px);
}

.btn1:hover::before {
  transform: translate(5px, -5px);
}

@media only screen and (max-width: 600px) {
  .header {
    background-image: url(images/background-screen.png);
  }

  .detel {
    margin-top: 60%;
    font-size: 16px;
  }
}
