:root {
  --main-color: rgb(161, 198, 201);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: "Dancing Script", cursive;
  font-size: 1rem;
  background-color: #eff4fd;
  color: #000;
}

#header {
  position: relative;
  height: 100vh;
  width: 100%;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 3%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 100px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.social {
  display: inline-block;
}

.fa-brands {
  font-size: 2rem;
  padding: 0 12px;
  color: #000;
}

.fa-brands:hover {
  color: var(--main-color);
}

.detel {
  margin-left: 8%;
  margin-top: 12%;
  font-size: 20px;
}

.detel h1 span {
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}

/* Button 1 */

.button {
  font-size: 1rem;
  font-weight: 400;
  margin: auto;
  padding: 20px 20px;
}

.btn1 {
  background: none;
  color: #000;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: 800;
  margin: 32px;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-align: center;
  z-index: 1;
}

.btn1::before {
  background-image: url(images/background-button.png);
  content: "";
  height: 100%;
  position: absolute;
  right: 5px;
  top: 5px;
  transition: transform 0.15s ease;
  width: 100%;
  z-index: -1;
}

::before,
::after {
  box-sizing: border-box;
}

.btn1::after {
  border: 2px solid #000;
  content: "";
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: transform 0.15s ease;
  width: 100%;
  z-index: -1;
}

.btn1:hover::after {
  transform: translate(-5px, 5px);
}

.btn1:hover::before {
  transform: translate(5px, -5px);
}

/*----*/

nav .fa-solid {
  display: none;
}

/* O mnie */

#about {
  width: 100%;
  padding: 100px 0;
  font-size: 20px;
  background-image: url(images/background2.png);
}

#about img {
  height: auto;
  width: 430px;
  margin-left: 10vw;
}

.about-description {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .header {
    background-image: url(images/background-screen.png);
  }

  .detel {
    margin-top: 40%;
    font-size: 16px;
  }

  .social {
    display: none;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    background: rgb(161, 198, 201, 0.9);
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  nav ul li a:hover {
    color: #eff4fd;
    text-decoration: underline;
  }

  nav .fa-bars:hover {
    color: var(--main-color);
  }

  nav .fa-xmark:hover {
    color: #eff4fd;
  }

  #about img {
    display: none;
  }
}
